.amount {
  margin-block-start: auto;
  font-family: 'Poppins', serif;
  font-weight: 800;
  font-style: normal;
  font-size: 5rem;
  line-height: 3rem;
}

.currency {
  margin-block-start: auto;
  font-family: 'Poppins', serif;
  font-weight: 800;
  font-style: normal;
  font-size: 5rem;
  line-height: 3rem;
}
