.formattedAmountNum {
  font-family: 'Titan One', serif;
  font-size: 4rem;
  line-height: normal;
  color: rgb(28, 55, 207);
}

.formattedAmountSign {
  font-family: 'Titan One', serif;
  font-size: 2rem;
  color: #4f7ccf;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.5rem;
  display: inline-block;
}
