.account_grid_mobile {
  grid-template-columns: 1fr;
  grid-template-areas:
    ' current'
    ' periodics'
    ' tasks';
  grid-gap: 20px;
}

.account_grid_desktop {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    ' grid_col_header grid_col_header'
    ' current   current  '
    ' periodics tasks ';
  grid-gap: 20px;
}

.wrapper_mobile {
}
.wrapper_desktop {
  padding: 0 1rem;
}
.grid_col_header {
  grid-area: grid_col_header;
}

.gridColCurrent {
  grid-area: current;
}
.gridColPeriodics {
  grid-area: periodics;
}
.gridColTasks {
  grid-area: tasks;
}
