.account_grid_mobile {
  grid-template-columns: 1fr;
  grid-template-areas:
    'grid_col_header'
    'current'
    'periodics'
    'tasks';
}

.account_grid_desktop {
  grid-template-columns: 1fr;
  grid-template-areas:
    'grid_col_header'
    'current'
    'periodics'
    'tasks';
}

.wrapper_mobile {
}
.wrapper_desktop {
  padding: 0 1rem;
  max-width: 1400px;
}
.grid_col_header {
  grid-area: grid_col_header;
}

.gridColCurrent {
  grid-area: current;
}
.gridColPeriodics {
  grid-area: periodics;
}
.gridColTasks {
  grid-area: tasks;
}
