.custom_action_button {
  border-radius: 1.5rem;
  border: 4px solid #abc6ed;
  min-height: 4rem;
  position: relative;
}

.circle_icon {
  font-family: 'Titan One', serif;
  font-size: 2rem;
  position: absolute;
  top: -2rem;
  color: #4f7ccf;
  background-color: #ffffff;
  width: 4rem;
  height: 4rem;
  border: 3px solid #abc6ed;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.3rem;
  display: inline-block;
}
