.custom_action_button {
  border-radius: 1.5rem;
  border: 4px solid;
  position: relative;
  transition: border-color 0.1s ease;
  transition: background-color 0.1s ease;
}

.custom_action_button:not([disabled]) {
  border-color: #abc6ed;
}

.custom_action_button:hover:not([disabled]) {
  color: 'red';
  border-color: #4f7ccf;
  background-color: #e5e9f0;
}

.circle_icon {
  font-family: 'Poppins', serif;
  font-size: 2rem;
  position: absolute;
  top: -2rem;
  color: #4f7ccf;
  background-color: #ffffff;
  width: 4rem;
  height: 4rem;
  border: 3px solid #abc6ed;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.3rem;
  display: inline-block;
}
