.card {
  border-radius: 1.5rem;
  background-color: #abc6ed;
  padding: 2.2rem 2rem 1.6rem;
  min-height: 10rem;
  margin-top: 2rem;
  position: relative;
}

.nameWrapper {
}

.top_icon {
  font-family: 'Poppins', serif;
  font-size: 1.9rem;
  font-weight: 800;
  position: absolute;
  top: -1.6rem;
  left: 1.6rem;
  color: #4f7ccf;
  background-color: #ffffff;
  width: 3.4rem;
  height: 3.4rem;
  border: 0.3rem solid;
  border-radius: 50%;
  text-align: center;
  padding-top: -0.2rem;
  display: inline-block;
}

.name {
  font-family: 'Poppins', serif;
  font-size: 1rem;
  color: #525252;
}

.nextTimeDescription {
  color: '#999';
}
